:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --nav-bg: #f0f0f0;
}

body.dark {
  --bg-color: #3c2d5c;
  --text-color: 
  --nav-bg: #1e1e1e;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
